body {
	background: url(../img/fon4.jpg) no-repeat;
	background-position: top;
}

table {
	border-collapse: separate;
	border-spacing: 10px;
	margin: 0 auto;
	text-align: center;
}
tr {
	&:first-child div {
		background: #66f732;
		border: 2px solid #ff0000;
		padding: 10px 5px;
		margin: 0 -10px;
	}
	&:nth-child(2) a {
		padding: 5px;
		border: 2px dotted #ff6600;
		background: #eb9f3d;
	}
	&:nth-child(5) a {
		padding: 5px;
		border: 2px dotted #a00078;
		background: #ff02c0;
	}
	&:nth-child(3),
	&:nth-child(6)
	div {
		background: #afaeae;
		border: 1px dotted rgb(120, 66, 52);
		padding: 5px;
	}
	&:nth-child(4) td:first-child,
	&:nth-child(7) td:first-child {
		&:hover img {
			outline: 3px solid #ff0000;
		}
	}
}

a {
	display: block;
	text-decoration: none;
	color: #000;
	&:hover {
		color: #0000ff;
	}
}

img {
	max-width: 250px;
	&:hover {
		outline: 3px solid #255b12;
		cursor: pointer;
	}
}
