$c: #fff;

body {
	background: rgb(127, 203, 206);
}

table {
	text-align: center;
	background: #9b9b9b;
	border: #9b9b9b solid 10px;
	margin: auto;
	font-size: 20px;
}

td {
	background: #272727;
	&:hover {
		background: #000000;
	}
	&:hover a {
		color: $c;
	}
}

img {
	width: 250px;
}

.iskl {
	background: none;
	&:hover {
		background: none;
	}
}

a {
	text-decoration: none;
	color: #bbbbbb;
	&:hover {
		color: $c;
	}
}
