@import "nullcss";

$bgcolor-table: #9b9b9b;

$size-title: 25px;
$size-subtitle: 20px;
$size-card__title: 25px;
$size-button: 20px;
$width-img: 250px;

$opacity-button: 0.75;
$opacity-button__hover: 1;
$color-button: rgba(0, 0, 0, $opacity-button);
$color-button__hover: rgba(0, 0, 0, $opacity-button__hover);
$color-button__text: rgba(255, 255, 255, $opacity-button);
$color-button__text_hover: rgba(255, 255, 255, $opacity-button__hover);

body {
	background: url(../img/fon.jpg) no-repeat;
	background-size: 170%;
	background-position: 43% 0%;
	margin: 8px;
	@media (max-width: 870px) {
		& {background-size: cover;}
	}
}

table {
	text-align: center;
	background: $bgcolor-table;
	border: $bgcolor-table solid 10px;
	margin: auto;
}

.title {
	font-size: $size-title;
}

.subtitle {
	font-size: $size-subtitle;
}

a {
	color: $color-button__text;
	&:hover {
		opacity: $opacity-button__hover;
	}
}

.link {
	font-size: $size-button;
	background: $color-button;
	color: $color-button__text;
	&:hover {
		background: $color-button__hover;
	}
	&:hover a {
		color: $color-button__text_hover;
	}
	&-download {
		padding: 0 20px 5px;
		text-transform: uppercase;
		font-size: $size-button;
		&__iner {
			background: $color-button;
			color: $color-button__text;
			&:hover {
				background: $color-button__hover;
			}
			&:hover a {
				color: $color-button__text_hover;
			}
		}
	}
}

.img {
	padding: 0 0 15px;
	width: $width-img;
	background: none;
	&:hover {
		background: none;
	}
}

.card__title {
	font-size: $size-card__title;
	padding: 0 0 5px;
}

.back {
	opacity: 1;
	font-weight: bold;
	color: #000;
	font-size: 20px;
	&:hover {
		opacity: 1;
		color: rgb(16, 5, 173);
	}
}
