@import "nullcss";
@import "vars";
@import "mixins";

body {
	font-family: "Lato", sans-serif;
	line-height: 1.2em;
	margin-top: 75px;
}

.container {
	width: $desctopWidth;
	margin: 0 auto;
}

// Header
@import "blocks/header";

// Intro
@import "blocks/intro";

// Category
@import "blocks/category";

// Catalog
@import "blocks/catalog";

// Advantage
@import "blocks/advantage";

// Comment
@import "blocks/comment";

// Footer
@import "blocks/footer";

// Nav
@import "blocks/nav";

// Registration
@import "blocks/registration";
