@import "nullcss";
@import "vars";
@import "mixins";

body {
	font-family: "Lato", sans-serif;
	line-height: 1.2em;
	margin-top: 75px;
}

.wrapper {
	display: flex;
	flex-direction: column;
}
main {
	flex-grow: 1;
}
.container {
	width: $desctopWidth + 30px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

// Header
@import "blocks/header";
@import "blocks/menu";

// Intro
@import "blocks/intro";

// Category
@import "blocks/category";

// Catalog
@import "blocks/catalog";

// Advantage
@import "blocks/advantage";

// Comment
@import "blocks/comment";

// Footer
@import "blocks/footer";

// Nav
@import "blocks/nav";

// Registration
@import "blocks/registration";

// Slider
@import "blocks/slider";

// Basket
@import "blocks/basket";

// Media
@import "blocks/media-tablet";
@import "blocks/media-mobile";