* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.all {
  background: #34f703;
  border: #ff0000 solid 2px;
}

.container {
  max-width: 1214px;
  padding: 7px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sitebar {
  border: #ff0000 solid 2px;
  width: 15%;
  background: #6e6e6e;
  min-height: 500px;
  padding: 10px;
}
.sitebar__item {
  border: #ff0000 solid 2px;
  background: #1100ff;
  height: 40px;
  margin: 0 0 10px;
}

.content {
  width: 84%;
  border: #ff0000 solid 2px;
  background: #6e6e6e;
}
.content__iner {
  min-height: 500px;
  max-height: none;
}
