body {
	text-align: center;
	background: rgb(117, 191, 194);
}

img {
	margin-bottom: 15px;
}

.link {
	text-decoration: none;
	font-weight: bold;
	color: #000;
	font-size: 25px;
}

.link:hover {
	color: rgb(16, 5, 173);
}