.advantage {
	background: #222224;

	&__iner {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		padding: 100px 0;
	}
	&__item {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 360px;
	}
	&__text {
		text-align: center;
		color: #fbfbfb;
	}
	&__name {
		@include fs-fw(20px);
		margin: 28px 0 16px 0;
	}
	&__description {
		@include fs-fw(14px, 300);
		opacity: 0.6;
		line-height: 1.2em;
	}
}