.catalog {
	margin-bottom: 95px;

	&-filter {
		display: flex;
		padding: 50px 0 65px;

		&__filter {
			@include fs-fw(14px, 600);
			position: relative;
			width: 360px;
			padding:	13px 0 0 15px;
			margin-right: 30px;

			&[open] {
				background: #fff;
				box-shadow: 6px 10px 35px rgba(0, 0, 0, 0.21);

				.catalog-filter__title {
					color: $mainColor;
				}
				svg {
					fill: $mainColor;
				}
			}
		}
		&__title {
			color: #000;
			text-transform: uppercase;
			transition: all linear .2s;

			svg {
				width: 15px;
				margin-left: 11px;
				fill: #000;
				transition: all linear .2s;
			}
			&:hover {
				color: $mainColor;
				cursor: pointer;

				svg {
					fill: $mainColor;
				}
			}
		}
		&__box {
			position: absolute;
			left: 0;
			z-index: 1;
			width: 100%;
			padding: 16px;
			background: #fff;
			box-shadow: 6px 35px 35px rgba(0, 0, 0, 0.21);
		}
		&__subfilter {
			@include fs-fw(14px, 400);
			
			&:not(:last-child) {
				margin-bottom: 18px;
			}
			&-title {
				padding: 10px 0 10px 11px;
				border-left: 5px solid $mainColor;
				border-bottom: 1px solid #EBEBEB;
				color: #6f6e6e;
				text-transform: uppercase;
				transition: all linear .1s;

				&:hover {
					color: #000;
					cursor: pointer;
				}
			}
			&-list {
				padding: 24px 0;
			}
			&-item {
				color: #6f6e6e;
				padding: 0 15px;
				transition: all linear .1s;

				&:hover {
					color: #000;
				}
				&:not(:last-child) {
					margin-bottom: 11px;
				}
			}
			&[open] {
				margin-bottom: 0;

				summary {
					color: $mainColor;
				}
			}
		}
		&__categories {
			@include fs-fw();
			display: flex;
			padding-top: 13px;
			width: 360px;
			color: #6f6e6e;
			text-transform: uppercase;

			&-col {
				position: relative;

				summary {
					transition: all linear .1s;
				}
				&[open] {
					summary {
						color: #000;
					}
				}
				&:hover {
					summary {
						color: #000;
					}
				}
				.fa-chevron-down {
					margin-left: 10px;
				}
				&:not(:last-child) {
					margin-right: 28px;
				}
			}
			&-box {
				position: absolute;
				z-index: 1;
				top: 22px;
				left: -10px;
				width: 80px;
				padding: 7px 9px 11px;
				background: #fff;
				box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
			}
			&-list {
				list-style-type: none;
			}
			&-item {
				label {
					margin-left: 9px;
					transition: all linear .1s;

					&:hover {
						color: #000;
					}
				}
			}
		}
		
	}
	&__title {
		text-align: center;
		margin-bottom: 48px;

		&-title {
			@include fs-fw(30px);
			color: #222;
			margin-bottom: 6px;
		}
		&-text {
			color: #9f9f9f;
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 48.5px - 30px;
	}
	&__card {
		width: 360px;
		background: #f8f8f8;
		&-img {
			position: relative;

			img {
				width: 100%;
			}
		}
		&-btn {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(58, 56, 56, 0.7);

			opacity: 0;
			transition: opacity linear 0.2s;

			&:hover {
				opacity: 1;
			}
			button {
				@include fs-fw(14px);
				border: 1px solid #fff;
				padding: 9px 15px;
				color: #fff;
				display: flex;
				align-items: center;
				transition: all linear 0.2s;

				&:hover {
					border-color: $mainColor;
					color: $mainColor;
					transform: scale(1.1);

					svg {
						fill: $mainColor;
					}
				}
				svg {
					width: 26px;
					height: 24px;
					fill: #fff;
					margin-right: 10px;
					transition: all linear 0.2s;
				}
			}
		}
		&-text {
			padding: 25px 29px 20px 18px;
		}
		&-name {
			@include fs-fw(13px);
			text-transform: uppercase;
			transition: all linear 0.2s;
			
			&:hover {
				color: $mainColor;
			}
		}
		&-description {
			@include fs-fw(14px);
			color: #5d5d5d;
			margin: 13px 0 18px;
		}
		&-price {
			@include fs-fw(16px);
			display: block;
			color: $mainColor;
			text-transform: uppercase;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			@include fs-fw(16px);
			border: 1px solid #ff6a6a;
			padding: 15px 39px;
			color: #ff6a6a;
			text-transform: capitalize;
			transition: all linear 0.2s;

			&:hover {
				background: #ff6a6f;
				color: #fff;
				transform: scale(1.05);
			}
		}
	}
	&__pagination {
		display: flex;
		justify-content: center;

		&-iner {
			display: flex;
			border: 1px solid #EBEBEB;
			padding: 15px;
			color: #c4c4c4;
		}
		&-item {
			@include fs-fw(16px, 300);
			transition: all linear .1s;

			&:not(:last-child) {
				margin-right: 20px;
			}
			&:nth-child(6),
			&:nth-child(7) {
				margin: 0;
			}
			&:hover {
				&:not(:nth-child(7)) {
					color: #ef5b70;
				}
			}
		}
		&-item--active {
			color: $mainColor;
		}
		&-item--span {
			margin: 0;
		}
		&-item--arrow {
			color: #000;
			margin-left: 18px;

			&:not(:last-child) {
				margin: 0 18px 0 0;
			}
		}
	}

}
