.category {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 65px 0 96px;

	&__item {
		width: 360px;
		height: 260px;
		background: #c4c4c4;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-transform: uppercase;

		&:hover {
			.category__text--big {
				transform: rotate(360deg)
			}
		}
		&1 {
			@include bgCategories(url(../img/category__img1.jpg));
		}
		&2 {
			@include bgCategories(url(../img/category__img2.jpg));
		}
		&3 {
			@include bgCategories(url(../img/category__img3.jpg));
		}
		&4 {
			@include bgCategories(url(../img/category__img4.jpg));
			width: 100%;
			height: 180px;
			margin-top: 30px;
		}
	}
	&__text {
		@include fs-fw(16px);
		color: #fff;
	}
	&__text--big {
		@include fs-fw(24px, 700);
		line-height: 1.2em;
		color: $mainColor;
		transition: all linear .5s;

		&:hover {
			color: darken($mainColor, 10%);
		}
	}
}