@media (max-width: $desctopWidth + 40px) {
	// Container
	.container {
		width: $tabletWidth + 30px;
		padding: 0 15px;
	}

	// Header
	.header {
		&__iner {
			padding-top: 18px;
			padding-bottom: 18px;
		}
	}

	// Intro
	.intro {
		&__iner {
			background-position: 0px bottom;
			min-height: 368px;
		}
		&__title {
			@include fs-fw(24px, 700);
			margin-right: 0px;
		}
	}

	// Category
	.category {
		gap: 19px;
		margin: 20px 0 155px;

		&__item {
			width: 232.5px;
			height: 168px;

			&4 {
				width: 100%;
				height: 116px;
			}
		}
	}

	// Catalog
	.catalog {
		margin-bottom: 65px;

		&-filter {
			padding: 11px 0 40px;

			&__filter {
				padding: 13px 0 0 0;
			}
			&__categories {
				justify-content: flex-end;
			}
		}
		&__title {
			margin-bottom: 72px;

			&-title {
				margin-bottom: 3px;
			}
		}
		&__list {
			margin-bottom: 32.5px - 16px;
			gap: 16px;
		}
		&__card {
			&-text {
				padding: 24px 17px 20px;
			}
		}
		&__card--none {
			display: none;
		}
	}

	// Registration
	.content {
		gap: 22px;
		padding-top: 40px;
		padding-bottom: 96px;
	}
	.registration {
		&-list {
			@include fs-fw(16px, 300);

			&__title {
				margin-bottom: 32px;
			}
			&__item {
				padding-left: 42px;
				background: url(../icon/registration-list__icon.svg) no-repeat left 3px;

				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
	}

	// Product
	.product {
		&-slider {
			border-bottom: 1px solid #eaeaea;
			padding-bottom: 0;

			&__img {
				max-height: 565px;
			}
		}
		&-description {
			margin: 0 0 128px;
			padding-bottom: 0;
			border: none;

			&::after {
				content: "";
				width: 100vw;
				height: 1px;
				background: #eaeaea;
				margin-top: 65px;
			}
		}
	}

	// Basket
	.content--basket {
		flex-direction: column;
		gap: 64px;
		padding-top: 59px;
	}
	.basket {
		&__list {
			margin-bottom: 62px;
		}
		&__item {
			width: 100%;
		}
		&__buttons {
			justify-content: center;
		}
		&-form {
			flex-direction: row;
			align-items: flex-start;
			gap: 15px;
	
			&__total {
				margin-top: 39px;
			}
		}
	}
	.registration {
		&__box--basket {
			margin-bottom: 0;
		}
	}
	
	// Advantage
	.advantage {
		&__iner {
			flex-direction: column;
			gap: 48px;
			padding: 48px 0 64px;
		}
		&__name {
			@include fs-fw(20px);
			margin-top: 19px;
		}
	}

	// Comment
	.comment {
		padding: 64px 0 140px;

		&__iner {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 48px;
		}
		&__text {
			@include fs-fw(18px);
		}
		&__right {
			margin-right: 0px;
		}
		&__description {
			@include fs-fw(14px);
			margin-bottom: 27px;
		}
	}
}
