@media (max-width: $tabletWidth + 30px) {
	// Container
	.container {
		width: $mobileWidth + 14px;
		padding: 0 7px;
	}

	// Header
	.header {
		&__iner {
			padding-top: 18px;
			padding-bottom: 18px;
		}
		&__item--none {
			display: none;
		}
	}
	// Menu
	.menu {
		&__iner {
			width: 100vw;
		}
	}

	// Intro
	.intro {
		&__iner {
			background: none;
			min-height: 363px;
			justify-content: center;
		}
		&__title {
			@include fs-fw(20px, 700);
		}
	}

	// Category
	.category {
		gap: 32px;
		margin: 64px 0;

		&__item {
			width: 100%;
			height: 250px;
			background-size: cover;

			&4 {
				height: 111px;
			}
		}
	}

	// Nav
	.nav {
		padding: 60px 0 59px;
	
		&__iner {
			flex-direction: column;
			justify-content: center;
			gap: 32px;
		}
	}

	// Catalog
	.catalog {
		margin-bottom: 96px;
		
		&-filter {
			display: flex;
			align-items: center;
			padding: 11px 0 46px;
	
			&__filter {
				width: 40px;
				margin-right: 40px;
	
			}
			&__title {
				span {
					display: none;
				}
				svg {
					width: 36px;
					margin-left: 0;
				}
			}
			&__box {
				width: 360px;
			}
			&__categories {
				@include fs-fw(12px);
				display: flex;
				padding-top: 13px;
				width: 360px;
				color: #6f6e6e;
				text-transform: uppercase;
	
				&-col {
					position: relative;
	
					summary {
						transition: all linear .1s;
					}
					&[open] {
						summary {
							color: #000;
						}
					}
					&:hover {
						summary {
							color: #000;
						}
					}
					.fa-chevron-down {
						margin-left: 10px;
					}
					&:not(:last-child) {
						margin-right: 28px;
					}
				}
				&-box {
					position: absolute;
					z-index: 1;
					top: 22px;
					left: -10px;
					width: 80px;
					padding: 7px 9px 11px;
					background: #fff;
					box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
				}
				&-list {
					list-style-type: none;
				}
				&-item {
					label {
						margin-left: 9px;
						transition: all linear .1s;
	
						&:hover {
							color: #000;
						}
					}
				}
			}
		}
		&__title {
			margin-bottom: 65px;

			&-title {
				margin-bottom: 3px;
			}
		}
		&__list {
			margin-bottom: 40px - 16px;
		}
	}

	// Registration
	.content {
		flex-direction: column;
		gap: 40px;
		padding-top: 40px;
		padding-bottom: 96px;
	}

	// Product
	.product {
		&-slider {
			border-bottom: 1px solid #eaeaea;
			padding-bottom: 0;

			&__img {
				max-height: 565px;
			}
		}
		&-description {
			margin: 0 0 65px;
			border: none;

			&__title {
				margin-bottom: 32px;
			}
			&__text {
				max-width: 326px;
				line-height: 1.4em;
			}
			&__price {
				line-height: 1.3em;
			}
			&__line {
				width: 175px;
				margin: 32px 0 49px;
			}
			&__choose {
				@include fs-fw(10px);
				margin-bottom: 65px;
	
				&-item {
					text-transform: uppercase;
	
					&:not(:last-child) {
						margin-right: 25px;
					}
					span {
						margin-right: 10px;
					}
				}
			}
		}
	}

	// Basket
	.content--basket {
		gap: 48px;
		padding-top: 39px;
		padding-bottom: 96px;
	}
	.basket {
		&__list {
			margin-bottom: 30px;
		}
		&__item {
			&:not(:last-child) {
				margin: 0 0 32px;
			}
			&-img {
				width: 144px;
				min-height: 188px;

				img {
					width: 144px;
					min-height: 188px;
				}
			}
			&-description {
				padding: 13px 17px;
			}
			&-title {
				@include fs-fw(16px);
				max-width: 130px;
				margin-bottom: 25px;
			}
			&-option {
				@include fs-fw(14px);
	
				&:not(:last-child) {
					margin-bottom: 4px;
				}
			}
			&-number {
				margin-left: 15px;
	
				input {
					@include fs-fw(10px);
					width: 25px;
					height: 15px;
				}
			}
			&-cross {
				top: 13px;
				right: 12px;
				width: 10px;
			}
		}
		&__buttons {
			gap: 9px;

			&-item {
				@include fs-fw(12px, 300);
				text-transform: none;
				padding: 9px 35px;
			}
		}
		&-form {
			flex-direction: column;
			align-items: center;
			gap: 15px;
	
			&__total {
				margin-top: 39px;
			}
		}
	}
	.registration {
		&__box--basket {
			margin-bottom: 0;
		}
	}
	
	// Advantage
	.advantage {
		&__iner {
			gap: 46px;
			padding: 48px 0 81px;
		}
	}

	// Comment
	.comment {
		padding: 64px 0 110px;
		background-position-x: -400px;
	
		&__iner {
			padding: 0;
			gap: 60px;
		}
		&__description {
			margin-bottom: 22px;
		}
	}

	// Footer
	.footer {
		padding: 43px 0 9px;
	
		&__iner {
			flex-direction: column;
			gap: 40px;
		}
		&__copyright {
			order: 2;
		}
	}
}