@media (max-width: $tabletWidth + 30px) {
	// Container
	.container {
		width: $mobileWidth + 20px;
		padding: 0 10px;
	}

	// Header
	.header {
		&__iner {
			padding-top: 18px;
			padding-bottom: 18px;
		}
		&__item--none {
			display: none;
		}
	}
	
	// Intro
	.intro {
		&__iner {
			background: none;
			min-height: 363px;
			justify-content: center;
		}
		&__title {
			@include fs-fw(20px, 700);
		}
	}

	// Category
	.category {
		gap: 32px;
		margin: 64px 0;

		&__item {
			width: 100%;
			height: 250px;
			background-size: cover;

			&4 {
				height: 111px;
			}
		}
	}

	// Catalog
	.catalog {
		margin-bottom: 96px;

		&__title {
			margin-bottom: 65px;

			&-title {
				margin-bottom: 3px;
			}
		}
		&__list {
			margin-bottom: 40px - 16px;
			gap: 0;
		}
		&__card {
			&:not(:nth-child(2n)) {
				margin-right: 0;
			}
		}
	}

	// Advantage
	.advantage {
		&__iner {
			gap: 46px;
			padding: 48px 0 81px;
		}
	}

	// Comment
	.comment {
		padding: 64px 0 110px;
		background-position-x: -400px;
	
		&__iner {
			gap: 60px;
		}
		&__description {
			margin-bottom: 22px;
		}
	}

	// Footer
	.footer {
		padding: 43px 0 9px;
	
		&__iner {
			flex-direction: column;
			gap: 40px;
		}
		&__copyright {
			order: 2;
		}
	}
}