.card {
  width: 170px;
  height: 350px;
  font-size: 18px;
  text-align: center;
  position: relative;
}
.card:hover .front {
  -webkit-transform: perspective(500px) rotateY(-180deg);
          transform: perspective(500px) rotateY(-180deg);
}
.card:hover .back {
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
}
.card .front,
.card .back {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .7s linear;
  transition: all .7s linear;
  position: absolute;
}
.card .front {
  background: url(../img/front-bg.png) center;
  background-size: cover;
  padding: 10px 0 0;
  color: #fff;
  -webkit-transform: perspective(500px) rotateY(0);
          transform: perspective(500px) rotateY(0);
}
.card .front h1 {
  font-size: 40px;
}
.card .back {
  background: url(../img/back-bg.png) center;
  background-size: cover;
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
  position: relative;
}
.card .back__iner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto 0;
}
.card .back a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background: #a00101;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.card .back a:hover {
  background: #770101;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
